{% extends "base.html" %} {% block title %}Impressum{% endblock %} {% block content%}
<div class="text-center">
    <img src="https://cdn-icons-png.flaticon.com/512/5828/5828474.png" alt="Info Icon" style="height:300px; width: 300px">
    <h3>Impressum</h3>
    <br>
    <address>
        <b>BarAdvisor</b><br>
        Badensche Strasse 52<br>
        10825 Berlin<br>
        Fax: +49 420 1337117<br>
        <a href="mailto:info@baradvisor.com">info@baradvisor.com</a><br>
    </address>
    <br>
    <b>Bildquellen</b><br>
    Flaticon

</div>
{% endblock %}