{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-lg d-flex flex-column align-items-center justify-content-center my-5">
    <img src="{{ url_for('static', filename='images/SimpleNote_logo.png') }}" alt="SimpleNote Logo" class="mb-5" width="350" height="220">
    <h3><strong>Login</strong></h3> <!-- Schreibe "Login" fett -->
    <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="form-group mb-3">
            <label for="username"><strong>Name:</strong></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Name eingeben" style="width: 400px; background-color: #cfe8f5;" required>
        </div>
        <div class="form-group mb-6">
            <label for="password"><strong>Passwort:</strong></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Passwort eingeben" style="width: 400px; background-color: #cfe8f5;" required>
        </div>
        <p class="mt-1" style="font-style: italic;">Don't have an account? <a href="{{ url_for('auth.register') }}">Create One</a></p>
        <div class="form-group d-flex justify-content-center mt-1">
            <button type="submit" class="btn btn-light rounded-pill px-5 py-3" style="background-color: #fff8dc;">Log In!</button> <!-- Ändere die Farbe des Buttons -->
        </div>
    </form>
</div>
{% endblock %}
