{% extends "base.html" %}

{% block title %}Notes{% endblock %}

{% block content %}
<div class="container-lg my-5">
    <div class="row align-items-start">
        <div class="col-md-2">
            <!-- Bar für Textformatierung -->
            <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='images/SimpleNote_logo.png') }}" alt="SimpleNote Logo" class="mr-3" height="50">
                <div>
                    <button class="btn btn-outline-dark mr-2">Font Size</button>
                    <button class="btn btn-outline-dark mr-2">Font Color</button>
                    <button class="btn btn-outline-dark mr-2">Bold</button>
                    <button class="btn btn-outline-dark mr-2">Italic</button>
                    <button class="btn btn-outline-dark mr-2">Underline</button>
                    <button class="btn btn-outline-dark mr-2">Strikethrough</button>
                    <button class="btn btn-outline-dark mr-2">Insert Image</button>
                </div>
            </div>
        </div>

        <!-- Seitenleiste für Boos -->
        <div class="col-md-4">
            <div class="list-group mb-4">
                <a href="#" class="list-group-item list-group-item-action active">
                    Book 1
                </a>
                <a href="#" class="list-group-item list-group-item-action">Book 2</a>
            </div>
            <button class="btn btn-light">Add Book</button>
        </div>

        <!-- Seitenleiste für Pages -->
        <div class="col-md-4">
            <div class="list-group mb-4">
                <a href="#" class="list-group-item list-group-item-action active">
                    Page 1
                </a>
                <a href="#" class="list-group-item list-group-item-action">Page 2</a>
            </div>
            <button class="btn btn-light">Add Page</button>
        </div>

        <!-- Eingabefeld für Notess -->
        <div class="col-md-6">
            <textarea class="form-control mb-4" rows="20" placeholder="Write your notes here..."></textarea>
        </div>

        <!-- Button zum Ausloggen -->
        <div class="col-md-2 text-left">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#logoutModal">
            </button>
        </div>
    </div>
</div>

<!-- Bestätigungsmeldung beim Ausloggen -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Logout Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Logout</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<div>
  <link href="./home.css" rel="stylesheet" />
  <div class="home-container">
    <div class="home-container1">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/d187cedf-f9be-43d3-9d8a-d624d396dca3/0246c4ad-79e4-419d-98c7-123f813e2989?org_if_sml=18355&amp;force_format=original"
        alt="image"
        class="home-image"
      />
    </div>
    <div class="home-sidebar">
      <nav class="home-nav">
        <svg viewBox="0 0 1024 1024" class="home-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
        <span id="Book 1" class="home-text">Book 1</span>
        <span id="Book 2" class="home-text01">Book 2</span>
        <span id="Book 3" class="home-text02">Book 3</span>
        <span id="Book 4" class="home-text03">Book 4</span>
        <span id="Book 5">Book 5</span>
      </nav>
      <div class="home-profile">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
          class="home-image1"
        />
        <div class="home-container2">
          <span class="home-text05">John Doe</span>
        </div>
        <button type="button" class="button">Logout</button>
      </div>
    </div>
    <div class="home-container3"><div class="home-container4"></div></div>
    <div class="home-container5">
      <button type="button" class="home-button1 button">Save Notes </button>
      <button type="button" class="home-button2 button">
        <span>
          <span>Next</span>
          <br />
        </span>
      </button>
      <span class="home-text09">Book </span>
      <button type="button" class="home-button3 button">back</button>
    </div>
    <div class="home-container6">
      <textarea
        placeholder="placeholder"
        class="home-textarea textarea"
      ></textarea>
    </div>
  </div>
</div>
  